<article class="post-list-item">
  {% if post.featured_image %}
  <a href="{% url 'Blog_detail' post.slug %}" class="post-list-image">
    <img src="{{ post.featured_image.url }}" alt="{{ post.featured_image_alt|default:post.title }}">
  </a>
  {% endif %}
  <div class="post-list-body">
    <a href="{% url 'posts_by_category' post.category.id %}" class="post-category-pill">{{ post.category }}</a>
    <h3><a href="{% url 'Blog_detail' post.slug %}">{{ post.title }}</a></h3>
    <p>{{ post.short_description|truncatewords:28 }}</p>
    <div class="post-meta-line">
      <span>{{ post.effective_published_at|timesince }} ago</span>
      <a href="{% url 'author_profile' post.author.username %}">{{ post.author.get_full_name|default:post.author.username }}</a>
      <span><i class="fa fa-eye"></i> {{ post.views }}</span>
      <span><i class="fa fa-clock-o"></i> {{ post.reading_time }} min</span>
    </div>
  </div>
</article>
