<div class="col-md-3">
    <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
        <a href="{% url 'dashboard' %}"
            class="nav-link text-dark {% if '/dashboard/' == request.path %}bg-warning{% endif %}"><i
                class="fa fa-dashboard"></i> Dashboard</a>
        {% if user.is_superuser %}
        <a href="{% url 'users' %}"
            class="nav-link text-dark {% if '/users/' in request.path %}bg-warning{% endif %}"><i
                class="fa fa-users"></i> Users</a>
        {% endif %}
        {% if perms.blogs.view_category %}<a href="{% url 'categories' %}"
            class="nav-link text-dark {% if '/categories/' in request.path %}bg-warning{% endif %}"><i
                class="fa fa-folder"></i> Categories</a>{% endif %}
        {% if perms.blogs.view_blog %}<a href="{% url 'posts' %}"
            class="nav-link text-dark {% if '/posts/' in request.path %}bg-warning{% endif %}"><i
                class="fa fa-file-text"></i> Posts</a>{% endif %}
        {% if perms.blogs.view_contact %}<a href="{% url 'contact_messages' %}"
            class="nav-link text-dark {% if '/messages/' in request.path %}bg-warning{% endif %}"><i
                class="fa fa-envelope"></i> Messages</a>{% endif %}
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="nav-link text-dark border-0 bg-transparent"><i class="fa fa-sign-out"></i> Logout</button>
        </form>
    </div>
</div>
